
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-3">
      <div class=""><%= @service.title %>

        <%= link_to "Back to index?", services_path %>

      </div>
    </div>
  </div>
