<% @services.each do |x| %>
    <div>
      <div ><%= x.title %></div>
      <div><%= x.description %></div>
    </div>
<% end %>
<% @bookings.each do |x| %>
    <div>
      <div ><%= x.user %></div>
      <div><%= x.service %></div>
    </div>
<% end %>
