#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

body {
  background-color: $background;
}

.container-form {
  width: 600px;
  padding: 18px;
  background-color: white;
  border: 3px solid $nav-foot;
  min-height: 200px;
}

.bottom-left {
  position: absolute;
  bottom: 32px;
  left: 40px;
}

