.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-service-pic {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.card-service-price {
  position: absolute;
  right: 32px;
  top: 48px;
}
.card-service-head {
  position: absolute;
  left: 16px;
  top: 32px;
}
.card-service-by {
  position: absolute;
  left: 16px;
  bottom: 32px;
}
