.navbar-lewagon {
  justify-content: space-between;
  background-color: $nav-foot;
  // opacity: 0.5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.banner .navbar-lewagon {
  position: absolute;
  width: 100%;
  top: 0;
}
